.monitor-header{
    background: linear-gradient(90deg, #071739 50%, #14409F 100%);;
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    position: relative;
}

.bg-mon{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bg-image-mon{
    position: absolute;
    width: 100%;
    height: 13vh;
    object-fit: cover;
    mix-blend-mode: overlay;
    opacity: 0.3;
    z-index: 100;
    object-position: center 65%;
    /* outline: 1px solid red; TIP!!111!!! see what's overflowing */
}

.mon-title{
    /* background-color: aqua; */
    width: fit-content;
    font-family: 'Kadwa', serif;
    font-weight: bold;
    font-size:2vh;
    margin-left: 5px;
    color:aliceblue;
    line-height: 1.5;  /*sikip vertically*/
}

.mon-title .sub-title{
    font-weight: normal;
    font-size: small;
}

.logo-mon{
    margin-left: 25px;
    width: 10vh;
}

.monitor-body{
    flex-direction: column;
    
}

.monitor-container{
    background-color: rgb(234, 234, 234);
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 10px;
}
.bodyreq{
    margin-top: 8rem;
}

.moncontainer {
  font-family: Arial, sans-serif;
  padding: 1rem;
  font-size: small;
  
}

.filter-mon {
  display: flex;
  margin: 0;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  background: #2c5edb;
  padding: 1rem;
  border-radius: 5px;
}
